body{
    background-color:bisque;
}

.header{
    color: gold;
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    border-style: ridge;
}

#Sub{
    font-size: 30px;
}

.list{
    color:purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    border-style: solid;
}

#index {
    border-style: none;
    font-size: x-large;
}


img{
    height: 500px;
    width: 1350px;
    border-style: double;
    box-shadow: inset;
}

.Paragraph{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;

}
